<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Read about normalize.css here: http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/main.css">
  <title>This is not a webpage</title>
</head>
<style> 
  body {
    background-image: url(/Cute-Anime-Girl-Chibi.jpg);
    background-position: center;
    cursor: url(/Untitled);
  }
  h2 {
    color: #FFFFFF;
  }
  
</style>
<body>
  <image >
  <div id="page">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/todo">What to work on</a></li>
      </ul>
    </nav>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
